repos:
  - repo: https://github.com/RecycledMedia/pre-commit
    rev: 'v1.0'
    hooks:
      - id: phplint
        entry: pre_commit_hooks/php_lint.sh
        language: script
        files: \.(php)$
  - repo: https://github.com/RecycledMedia/pre-commit
    rev: 'v1.0'
    hooks:
      - id: dockerlint
        entry: pre_commit_hooks/docker_lint.sh
        files: (Dockerfile\.*|Dockerfile$)
